appnope==0.1.0
attrs==19.3.0
Babel==2.8.0
backcall==0.2.0
certifi==2020.6.20
click==7.1.2
contextlib2==0.6.0.post1
decorator==4.4.2
Flask==1.1.2
gunicorn==20.0.4
ipython==7.16.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.1
Jinja2==2.11.2
MarkupSafe==1.1.1
more-itertools==8.4.0
numpy==1.19.0
ortools==7.7.7810
packaging==20.4
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.5
protobuf==3.12.2
ptyprocess==0.6.0
py==1.9.0
Pygments==2.6.1
pyparsing==2.4.7
pytest==5.4.3
python-dateutil==2.8.1
pytz==2020.1
schema==0.7.2
six==1.15.0
tqdm==4.48.0
traitlets==4.3.3
wcwidth==0.2.5
Werkzeug==1.0.1
yapf==0.30.0
